$esGreen: #94be1f;
$esGreen2: darken($esGreen, 10%);
$lightGreen: #a8f1a1;

$okGreen: $esGreen;



$white: #fff;
$grey0: darken( $white, 10% );
$grey1: darken( $white, 20% );
$grey2: darken( $white, 30% );
$grey3: darken( $white, 40% );
$grey4: darken( $white, 50% );
$grey5: darken( $white, 80% );

$green: #14ac2e;
$redred: #f00000;

$black: #000;
$darkRed: #aa0000;
$nokRed: #991212;

$treeMenuBackground: $grey0;
$selectedItemBorder: $black;
$selectedItemBackground: #fffec9;
$lineEditBackground: $white;
$lineEditBorder: $grey1;
$unSelectedItemBorder: $grey1;
$unSelectedItemBackground: $white;
$checkedLineEditColor: $lightGreen;
$tableAlternatingColor: $grey0;


QWidget {
  font-family: arial;
}

TerminalView {
  background: $esGreen;

  QLabel {
     color: $white;
    font-size: 32px;
  }

  QToolButton {
    max-width: 150px;
    min-width: 150px;
    background: $esGreen2;
    border: 3px solid $esGreen2;
    border-radius: 10px;
    font-size: 32px;
    margin:10px;
    color: $white;

    &:hover {
      border: 3px solid $esGreen2;
    }
    &:pressed {
      background: $black;
      border: 3px solid $black;
    }


  }

  #pbStatus, #pbPause{
      max-height: 100px;
  }

  #pbMode {
    max-width: 1000px;
    max-height: 1000px;
    background: $esGreen;
    border: 3px solid $esGreen;
    font-size: 60px;
  }

  #labelClock {

    font-size: 60px;
    margin-bottom: 30px;
  }
  #labelMode {
    font-size: 32px;
  }
}


